.nav__list {
    display: flex;
}

.nav__item {
    transition: background-color 0.25s ease;
    & + & {
        margin-left: 32px;
    }
}

.nav__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    text-decoration: none;
    color: $grey;
    transition: color 0.25s ease, background-color 0.25s ease;
    &:hover {
        color: $dark-grey;
    }

    &--active {
        color: $dark-grey;
    }
}

.nav__burger {
    content: "";
    display: none;
    width: 16px;
    height: 15px;
    background-image: url("../images/svg/nav-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav__burger--active {
    background-image: url("../images/svg/x.svg");
}

.nav__list.nav__list--active {
    position: absolute;
    bottom: 0;
    transform: translate(50%, 100%);
    right: 50%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    z-index: 100;

    .nav__item {
        margin: 0;
    }
    .nav__link {
        display: block;
        padding: 20px;
        text-align: center;
        background-color: $light-cream;
        &:hover {
            background-color: $dark-cyan;
            color: $light-cream;
        }
    }
}

.footer__logo {
    margin-right: 100px;
}

.footer .nav{
    margin-right: auto;
}

.footer .nav__link {
    &:hover {
        color: $light-cream;
    }

    &--active {
        color: $light-cream;
    }
}

@media only screen and (max-width: 600px) {
    .nav__burger {
        display: block;
    }

    .nav__list {
        display: none;
    }

    .footer .nav__list{
        display: block;
    }
}
